div {
    /* border: 1px solid magenta;
    background: rgba(255, 255, 255, 0.1);*/
    border-radius: 10px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: repeat top/120% url(./images/hellgate-london.jpg);
    text-align: center;
    height: 100%;
    width: 100%;
    font-family: 'Iceberg', cursive;
}

.hidden {
    display: none !important;
}

.horizontal-container {
    display: flex;
    text-align: center;
    justify-content: space-around;
    padding-left: 20px;
}

input:invalid {
    border: 2px dashed red;
}

.horizontal-container>img {
    width: 12em;
    height: 12em;
}

header {
    background: whitesmoke;
    padding: 10px;
    /*position: fixed;*/
    width: 100%;
    z-index: 12;
}

#title {
    text-shadow: 2px 2px 5px rgb(4, 139, 154);
}

.main-page {
    margin-top: 200px;
}

.lore {
    color: whitesmoke;
    text-shadow: 4px 4px 10px orange;
    font-size: 1.5em;
}

.lore>p {
    padding: 20px 150px
}

button {
    background-color: orange;
    /* Green */
    text-shadow: 1px 1px 2px black, 0 0 25px white;
    border: none;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 28px;
    border-radius: 10px;
    font-family: 'Iceberg', cursive;
}

.sherlock,
#win-msg {
    text-shadow: 2px 2px 5px blue;
}

.moriarty {
    text-shadow: 2px 2px 5px red;
}

.popup {
    width: 500px;
    height: 400px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4em;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 10;
    text-shadow: 2px 2px 5px red;
}

#lose-popup {
    border: 5px solid red;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.thanks-to {
    font-size: 1.3rem;
}

#lose-msg {
    text-shadow: 2px 2px 5px red;
    font-size: 2rem;
}

.main-menu {
    padding: 40px 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.main-menu>div>p {
    color: orange;
    text-shadow: 1px 1px 2px black, 0 0 25px white;
    font-size: 2em;
}

.main-menu>div>img {
    width: 12em;
}

.main-menu>div:hover {
    animation: pulsate 1s ease-in-out infinite both;
}

h2 {
    margin: 0;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px black;
    font-size: 1.8rem;
    display: inline-block;
}

.options {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.options span,
.options p {
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px orange;
    font-size: 1.8rem
}

.options div {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#multi-input {
    display: flex;
    flex-direction: column;
}

#option-txt {
    color: orange;
    text-shadow: 1px 1px 2px black, 0 0 25px white;
    font-size: 3rem
}

.remove-events {
    pointer-events: none;
    border: none;
}

.img-rules {
    height: 50px;
}

footer {
    height: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 5px solid;
    border-bottom: 0px solid;
    border-left: 0px solid;
    border-right: 0px solid;
    background: whitesmoke;
}

footer>div {
    display: flex;
    align-items: center;
}

footer>div>a {
    margin-right: 10px;
}


/* ----------------------------------------------
 * Generated by Animista on 2020-9-8 18:54:5
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@keyframes pulsate {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}