<section id="solo-option-page" class="hidden">
    <section>
        <div>
            <img src="./images/singleplayer.png" />
            <div class="options">
                <label>Enter your name (4 to 8 characters):</label>
                <input type="text"></input>
                <label>Enter the number of players (4 to 8 players):</label>
                <input type="number"></input>
                <label>Show claims ?</label>
                <input type="checkbox"></input>
            </div>
        </div>
    </section>
    <section>
        <p id="option-txt">toto</p>
    </section>
    <section>
        <div class="main-menu">
            <div>
                <img src="./images/easy.png" />
                <p>Easy</p>
            </div>
            <div>
                <img src="./images/normal.png" />
                <p>Normal</p>
            </div>
            <div>
                <img src="./images/hard.png" />
                <p>Impossible</p>
            </div>
        </div>
    </section>